.fc {
  margin: 20px;
  text-align: right;
}

.guestBook,
.fc {
  color: orange;
  font-size: 40px;
}

.guestBook {
  text-align: center;
}

.header {
  color: orange;
  text-align: center;
}
.submit,
.refresh {
  font-size: 20px;
}

.refresh {
  border: 1px solid black;
  cursor: pointer;
}

#jar {
  margin-left: 70px;
}

table {
  padding: 12px;
}

td {
  padding-top: 12px;
}
